@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    font-family: "Poppins", serif;
    font-weight: 700;
    font-style: bold;
}

.louie {
    width: 1000px;
    height: 1800px;
    background-image: url('../../public/image-removebg-preview.png');
    background-repeat: no-repeat;
    background-size: 75%;
    position: absolute;
    background-position-x: 50px;
    background-position-y: 760px;
    
    
}

.heroContainer {
    margin-top: 10px;
    position: absolute;
    display: flex;
    justify-content: left;
    flex-direction: row;
    justify-content: space-between;
}

.getStarted {
    display: flex;
    font-size: 30px;
    flex-direction: column;
}

.slogan {
    font-size: 90px;
    color: white;
    text-align: right;
    padding-right: 120px;
    position:relative;
    left: -150px;
    bottom:-150px;
    line-height: 100px;
}

.startbutton {
    position: relative;
    bottom: -190px;
    left: 220px;
    height: 70px;
    width: 250px;
    background-color: #9DD9D2;
    border-radius: 20px;
    color: #423939;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 30px;
    
}
